
.color{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100px;
    background-color: transparent;
    width: 100px;
    border: none;
    cursor: pointer;
}

.color::-webkit-color-swatch{
    border-radius: 15px;
    border: 7px solid black;

}

.color::-moz-color-swatch{
    border-radius: 15px;
    border: 7px solid black;
    
}