
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
    <img  src="../../../assets/img/logo2.png" alt="logo" width="90" height="84" > 
    <h4>RED DE ILUMINACION IOT</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="#">Mis Focos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Secuencias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
        </li>
        </ul>
        <button (click)= "logout()" class = "btn btn-danger">
            <img src="../../../assets/img/logout.png" alt="">
            SALIR
        </button>
    </div>
    </div>
</nav>