
<app-navbar></app-navbar>



<app-user-container></app-user-container>

<hr>
<h2 class="text-center">Tus Focos</h2>

<hr>

<div class="container text-center mt-4">
  <div class="row">
    <div class="col">
      <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar Foco
    </button>

    </div>
  </div>
</div>

<app-formulario></app-formulario>

<div class="container mt-5 mb-5 text-center">
  <div class="row">
    <div class="col" *ngFor="let foco of misFocos">
      <app-card [id]="foco.id" [titulo]="foco.nombre"></app-card>
    </div>
  </div>
</div>
