<app-navbar></app-navbar>
<app-integrantes></app-integrantes>

<div class="container text-center my-5">
    <h1>Universidad Católica Boliviana San Pablo</h1>
    <div class="row mt-3">
        <div class="col">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.068280140347!2d-68.11417988513551!3d-16.522650188602224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f20ee187a3103%3A0x2f2bb2b7df32a24d!2sUniversidad%20Cat%C3%B3lica%20Boliviana!5e0!3m2!1ses!2sbo!4v1670509773588!5m2!1ses!2sbo" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col">
            <h1 class="text-start">Materia: </h1>
            <h2>Internet de las cosas SIS-234</h2>
            <h1 class="text-start">Docente: </h1>
            <h2>German Jesus Pereira Muñoz</h2>
            <h1 class="text-start">Semestre: </h1>
            <h2>II - 2022</h2>
        </div>
    </div>
</div>