<nav class="navbar navbar-dark bg-dark">
    
    <img src="../../../assets/img/logo2.png" alt="logo" width="90" height="84" > 
    <a class="navbar-brand" href="#">RED DE ILUMINACION IOT</a>
    <!--add an logo -->
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text">
        Navbar text with an inline element
      </span>
    </div>
  </nav>
  

<div class="container-fluid text-center mt-5">
    <h1>Integrantes</h1>
    <div class="row">
        <div class="col">
            <img src="https://github.com/EmersonChipana/Datos/blob/main/JesusMeriles.jpeg?raw=true" class="int-img" alt="">
        </div>
        <div class="col">
            <img src="https://github.com/EmersonChipana/Datos/blob/main/CrisYanez.jpeg?raw=true"  class="int-img" alt="">
        </div>
        <div class="col">
            <img src="https://lh3.googleusercontent.com/a-/ACNPEu9nN_VmsKrjWaC5JRkxeT1KXVJIxRPSpdsif2__=s288-p-rw-no" class="int-img" alt="">
        </div>
    </div>
</div>

