<div class="container text-center mt-5">
    <h1>Integrantes</h1>
    <div class="row mt-5">
        <div class="col">
            <img src="https://github.com/EmersonChipana/Datos/blob/main/JesusMeriles.jpeg?raw=true" class="int-img" alt="" >
            <h4>Jesus Meriles</h4>
            <h5>jesus.meriles@ucb.edu.bo</h5>
        </div>
        <div class="col">
            <img src="https://github.com/EmersonChipana/Datos/blob/main/CrisYanez.jpeg?raw=true"  class="int-img" alt="">
            <h4>Cristhian Yañez</h4>
            <h5>cristhian.yanez@ucb.edu.bo</h5>
        </div>
        <div class="col">
            <img src="https://github.com/EmersonChipana/Datos/blob/main/unnamed%20(1).jpg?raw=true" class="int-img" alt="">
            <h4>Emerson Chipana</h4>
            <h5>emerson.chipana@ucb.edu.bo</h5>
        </div>
    </div>
</div>

